name: Performance Benchmark

on: [ pull_request ]

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        with:
          version: v2025.12.13
          sha256: 2134c55725d08547cddc921f84ddac05c9de1700115c32817563435072cae5ed
      - name: Random actions test
        run: mise run random-actions
