name: Check

on: [ pull_request ]

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        with:
          version: v2025.12.7
          sha256: 59fb463dbcbebc3d4b51690865b8b9ea1f80707fddbf008bcd071aee7079daa3
      - name: Check all
        run: mise run ci
