name: Release

on:
  release:
    types: [ published ]

env:
  node_version: 14

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: jdx/mise-action@be3be2260bc02bc3fbf94c5e2fed8b7964baf074 # v3.4.0
        with:
          version: v2025.11.1
          sha256: d4bec11aeb5b13180c596b70abf59716acda20131dbc3df8b9146f97cecf645c
      - name: Use Node.js ${{ env.node_version }}
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: ${{ env.node_version }}
          # setting a registry enables the NODE_AUTH_TOKEN env variable where we can set an npm token.  REQUIRED
          registry-url: "https://registry.npmjs.org"
      - name: Set Release Version from Tag
        run: echo "RELEASE_VERSION=$(echo ${{github.ref_name}} | sed s/v//g)" >> $GITHUB_ENV
      - name: Publish Server
        # see https://stackoverflow.com/questions/58177786/get-the-current-pushed-tag-in-github-actions
        run: |
          ./scripts/publish-server.sh ${{ env.RELEASE_VERSION }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Publish Client
        # rustup target add wasm32-unknown-unknown # automatically done by wasm-pack
        run: |
          ./scripts/publish-client.sh ${{ env.RELEASE_VERSION }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
