name: Release

on:
  release:
    types: [ published ]

env:
  node_version: 14

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        with:
          version: v2025.11.7
          sha256: b2fb7d4c8dad559ede4fb346fb12171298a8ec8648f7923730abcd92e9dda15c
      - name: Use Node.js ${{ env.node_version }}
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: ${{ env.node_version }}
          # setting a registry enables the NODE_AUTH_TOKEN env variable where we can set an npm token.  REQUIRED
          registry-url: "https://registry.npmjs.org"
      - name: Set Release Version from Tag
        run: echo "RELEASE_VERSION=$(echo ${{github.ref_name}} | sed s/v//g)" >> $GITHUB_ENV
      - name: Publish Server
        # see https://stackoverflow.com/questions/58177786/get-the-current-pushed-tag-in-github-actions
        run: |
          ./scripts/publish-server.sh ${{ env.RELEASE_VERSION }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Publish Client
        # rustup target add wasm32-unknown-unknown # automatically done by wasm-pack
        run: |
          ./scripts/publish-client.sh ${{ env.RELEASE_VERSION }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
