name: Release

on:
  release:
    types: [ published ]

env:
  node_version: 14

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        with:
          version: v2025.12.12
          sha256: 9dc747b7baed63f74dc3c729f0f825201b585035944e8fff3e255d5124b10960
      - name: Use Node.js ${{ env.node_version }}
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: ${{ env.node_version }}
          # setting a registry enables the NODE_AUTH_TOKEN env variable where we can set an npm token.  REQUIRED
          registry-url: "https://registry.npmjs.org"
      - name: Set Release Version from Tag
        run: echo "RELEASE_VERSION=$(echo ${{github.ref_name}} | sed s/v//g)" >> $GITHUB_ENV
      - name: Publish Server
        # see https://stackoverflow.com/questions/58177786/get-the-current-pushed-tag-in-github-actions
        run: |
          ./scripts/publish-server.sh ${{ env.RELEASE_VERSION }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Publish Client
        # rustup target add wasm32-unknown-unknown # automatically done by wasm-pack
        run: |
          ./scripts/publish-client.sh ${{ env.RELEASE_VERSION }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
