name: Release

on:
  release:
    types: [ published ]

env:
  node_version: 14

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: jdx/mise-action@9dc7d5dd454262207dea3ab5a06a3df6afc8ff26 # v3.4.1
        with:
          version: v2025.11.5
          sha256: 5dc683fc1ff3b1d2da41b962af110186c8caa059ebfd65ae48a2969c9a13de58
      - name: Use Node.js ${{ env.node_version }}
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: ${{ env.node_version }}
          # setting a registry enables the NODE_AUTH_TOKEN env variable where we can set an npm token.  REQUIRED
          registry-url: "https://registry.npmjs.org"
      - name: Set Release Version from Tag
        run: echo "RELEASE_VERSION=$(echo ${{github.ref_name}} | sed s/v//g)" >> $GITHUB_ENV
      - name: Publish Server
        # see https://stackoverflow.com/questions/58177786/get-the-current-pushed-tag-in-github-actions
        run: |
          ./scripts/publish-server.sh ${{ env.RELEASE_VERSION }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Publish Client
        # rustup target add wasm32-unknown-unknown # automatically done by wasm-pack
        run: |
          ./scripts/publish-client.sh ${{ env.RELEASE_VERSION }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
